<h1 align="center"> Job's Update </h1>

<form action="/admin/updatingSuccess" class="form-group formAdmin" method="POST">
    <label>Code: {{id}} </label>
    <br>

    <input class="form-control form-control-lg" type="hidden" name="updateCode" value='{{id}}'>
    <!-- disabled="disabled" -->

    <label> Job </label>

    <input class="form-control form-control-lg" type="text" name="updateJob" value='{{job}}'>


    <br>

    <label>Describe </label>
    <input class="form-control form-control-lg" type="text" name="updateDescribe" value='{{describe}}'>
    <br>

    <label> Value </label>
    <input class="form-control form-control-lg" type="number" min="0" step="0.01" id="dinheiro" name="updateValue"
        value='{{value}}'>


    <br>

    <div class="btnUpdateAdmin">
        <button type="submit" class="btn btn-success btn-lg" name="btnActionAdmin">
            Save update <i class="fa fa-save" style="font-size:36px;"> </i>
        </button>
        <br><br>
        <strong>
            <a href="/admin">List of job /</a>
            <a href="/">Log off </a>
        </strong>
    </div>
</form>

{{#each messageUpdate}}
<div class="alert alert-success errorLogin">{{message}}</div>
{{/each}}